body {
  background-color: black; }

body header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: header;
  margin-bottom: 50px;
  border-bottom: solid 1px;
  padding: 20px 0;
  grid-area: header; }

li { justify-content: center;
  list-style-type: none;
  padding: 10px;
  margin: 10px; }

li ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  justify-content: center; }

a:hover {
  color: black; }

nav {
  width: 100%; }

main {
  text-align: center; }

main article {
  text-align: center; }

main article p {
  color: black; }

h3 {
  justify-content: center;
  font-family: comic sans ms;
  color: black; }

h1 {
  color: black;
  font-family: comic sans ms; }

.texto {
  background-color: black; }

.texto--texto {
  padding: 50px; }

.encabezado {
  width: 1000;
  height: 500; }

/*.bgColor {
  background-color: white;
  justify-content: center; }*/

.box {
  width: 600;
  height: 600;
  background-image: linear-gradient(gray, white); }

header {
  width: 150px; }
